{% extends "base_relatorio.html" %}

{% block titulo %}Balanço Orçamentário da Despesa{% endblock %}

{% block titulo_relatorio %}BALANÇO ORÇAMENTÁRIO DA DESPESA{% endblock %}

{% block conteudo %}
<table>
    <thead>
        <tr>
            <th rowspan="2">DESPESAS ORÇAMENTÁRIAS</th>
            <th colspan="2">DOTAÇÃO</th>
            <th colspan="3">DESPESAS</th>
            <th rowspan="2">SALDO DA<br>DOTAÇÃO</th>
        </tr>
        <tr>
            <th>INICIAL</th>
            <th>ATUALIZADA</th>
            <th>EMPENHADA</th>
            <th>LIQUIDADA</th>
            <th>PAGA</th>
        </tr>
    </thead>
    <tbody>
        {% for linha in dados_relatorio %}
            <tr class="{{ linha.tipo }}">
                <td>{{ linha.especificacao }}</td>
                <td>{{ linha.dotacao_inicial_fmt }}</td>
                <td>{{ linha.dotacao_atualizada_fmt }}</td>
                <td>{{ linha.despesa_empenhada_fmt }}</td>
                <td>{{ linha.despesa_liquidada_fmt }}</td>
                <td>{{ linha.despesa_paga_fmt }}</td>
                <td class="{% if linha.saldo_dotacao < 0 %}valor-negativo{% endif %}">
                    {{ linha.saldo_dotacao_fmt }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    // O botão JPG já está configurado no template base
    // Não precisa de configurações adicionais aqui
</script>
{% endblock %}